// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333 !important;
    overflow: hidden !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    box-sizing: border-box;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

.card-header {
    color: white !important;
}
body {
    background-color: #15202b ;
}
.card {
    background-color: #15202b !important;
}
.form-control {
    background-color: #15202b !important;
}
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    color: white;
}
.dropdown-toggle {
    padding: 0 !important;
    border-radius: 0px;
    background-color: #15202b;
    border-color: #15202b;
    font-size: 1.5rem;
}
.gündem-ogeleri {
    color: white;
}
.türkiye-gündemi,
.twit-sayisi {
    color: gray;
}
h3 {
    color: white !important;
}
.tweetle {
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 2rem;
}
.btn {
    color: rgb(136, 153, 166);
}
.gonder {
    float: right;
    color: white;
    margin-top: 10px;
}
hr {
    color: white;
}
.search {
    border: 0;
    padding: 0;
}
.ara {
    background-color: #15202b;
    padding: 0;
    border: 0;
}
input[type="text"]::placeholder {
    color: rgb(136, 153, 166);
}
.search-container {
    margin-top: 10px;
    margin-bottom: 20px;
}
b {
    color: white;
    font-size: 1.3rem;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
span {
    color: white;
    font-size: 1.3rem;
    padding-left: 20px;
}
.col-form-label,
.form-check-label.login_button,
.register_button {
    color: white;
}
.content {
    padding-left: 20px !important;
}
.dropdown-menu {
    z-index: 9999;
}
.liked {
    color: rgb(224, 36, 94);
}
.unliked {
    color: rgb(136, 153, 166);
}
.image,
.video {
    margin-top: 10px;
    color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

